
#cards1 {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    margin: 15px; 
    transition: all .5s;
}

.card:hover {
    box-shadow: 4px 4px 5px grey;
    transform: scale(1.1);
}

.cards2 {
    background: red;
}

.card-title:hover {
    color:rgb(253, 253, 253);
    transition-duration: .2s; 
}

#spacer1 {
    height: 50px;
    flex-wrap: wrap;
}

#cards2 {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

#spacer2 {
    height: 50px;
    flex-wrap: wrap;
}

.navbar-brand {
    color: blueviolet;
}

#spacer-content {
    height: 500px;
}

#prevoius-next {
    justify-content: end;
}

#header {
    height: 150px;
    padding: 40px;
    background: rgb(25, 104, 114);
    text-align:center;
}
.grid {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr; 
    grid-gap: 10px;
    padding: 10px;
    overflow: hidden;
    position: relative;
    grid-row-start: auto;
    font-weight: bold;
}

.book-img:hover {
    box-shadow: 2px 4px 4px grey;
}

  .btn-sub{
    color:white;
    border: 0;
    border-radius: 20px;
    width:200px;
    height:40px;
    font-size: 20px;
    box-shadow: 3px 3px 3px grey;
    font-weight: bold;
    background-color: rgb(62, 62, 190);
  }

  .footer {
      text-align: center;
  }

  .heart-symbol:hover{
      width: 20px;
  }

   @media screen and (max-width: 800px) {
       .grid{
           grid-template-columns: 1fr 1fr;
       }
   }

    
   @media screen and (max-width: 500px) {
    #header{
        height: 220px;
    }
    .grid{
        grid-template-columns: 1fr;
        margin: 0px 0px 0px 100px;
        background-color: #fff;
        width: 230px;
        height: 400px;
        overflow-y: scroll;
        
    }
  
    .book1{
        color: purple;
        font-weight: bold;
    }
}
